<html lang="ru">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script type="module" src="/public/script/brands_edit.js"></script>
</head>
<body>
<%- include('../common/menu') %>
<div class="container">
    <form class="item_card">
        <div class="item_card_images">
            <div class="images_horizontal_container">
                <% if (brand.photos.length !== 0) { %>
                    <div class="images_horizontal_container_item">
                        <img class="item_img" src="/<%= brand.photos[0]%>" alt="" width="200px"  height="200px">
                    </div>
                <% } %>
            </div>
        </div>
        <div class="item_card_info">
            <div class="form-group">
                <label class="form-group_label">Название</label>
                <p><%=brand.name%></p>
            </div>
            <div class="form-group">
                <label class="form-group_label" for="description">Описание</label>
                <textarea class="description" id="description"><%=brand.description%></textarea>
            </div>
        </div>
        <button id="btn-send" class="btn-send">Сохранить</button>
    </form>
</div>
</div>
</body>
</html>