<header class="header">
    <section class="hamburger-menu">
        <input id="menu_toggle" class="menu_toggle" type="checkbox"/>
        <label class="menu_btn" for="menu_toggle">
            <span></span>
        </label>
        <ul class="menu_box">
            <li class="menu_list"><a class="menu_item">Кроссовки</a>
                <ul class="menu_drop_box">
                    <li class="menu_drop_list"><a class="menu_item" href="/admin/sneakers/create">Создать карточку</a></li>
                    <li class="menu_drop_list"><a class="menu_item" href="/admin/sneakers">Список</a></li>
                </ul>
            </li>
            <li class="menu_list"><a class="menu_item">Бренды</a>
                <ul class="menu_drop_box">
                    <li class="menu_drop_list"><a class="menu_item" href="/admin/brands">Список</a></li>
                </ul>
            </li>
        </ul>
    </section>
</header>